@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --azulClaro: #a8dadc;
    --azulEscuro: #457b9d;
    --azulSuperEscuro: #1d3557;
    --azulEsverdeado: #f1faee;
    --rosa: #e63946;
    --brancoSuave: #fbfefb;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--azulClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: var(--azulEsverdeado);
    display:grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}

.container .left_side {
    position: relative;
    background: var(--azulSuperEscuro);
    padding: 40px;
}


.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: var(--brancoSuave);
    font-size: 1.4em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.title {
    color: var(--brancoSuave);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    color: var(--azulClaro);
}

.contactInfo ul li span {
    color: var(--brancoSuave);
    font-weight: 300;
    font-size: 14px;
}

.contactInfo.education li {
    margin-bottom: 15px;
    font-weight: 500;
}

.contactInfo.education h5 {
    color: var(--azulClaro);
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2){
    color: var(--brancoSuave);
    font-weight: 500;
}

.contactInfo.education h4 {
    color: var(--brancoSuave);
    font-weight: 300;
}

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: var(--azulEscuro);
    display: block;
    margin-top: 5px;
}

.percent-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--rosa);
}

.container .right_side {
    position: relative;
    background: var(--azulEsverdeado);
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: var(--azulSuperEscuro);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .year_company h4 {
    text-transform: uppercase;
    color: var(--azulEscuro);
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: var(--azulClaro);
}

.percent_skills {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--azulSuperEscuro);
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }

}

@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }

    .about .box .year_company {
        min-width: 150px;
        margin-bottom: 5px;
    }
}